.slide-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 100px;
}

.global-link {
    position: fixed;
    top: 900px;
    right: 30px;
    z-index: 999999999999;
}
.global-link .shop-link {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    line-height: 55px;
    font-size: $font-small;
    background: $white-color;
    margin-bottom: $small-ma;
}
.global-link .scroll-bt {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: $black-color;
    transform: rotate(0.5turn);
}
.global-link .scroll-bt.down {
    transform: rotate(1turn);
}
.slide-inner-top {
    margin: 0 auto;
    margin-bottom: 120px;
}
.slide-inner-top > h3 {
    font-size: $head-nomal;
    letter-spacing: -1.9px;
    margin-bottom: $large-ma;
}
.slide-inner-top .slide-inner-prevbtn {
    position: absolute;
    top: 220px;
    left: 100px;
}
.slide-inner-top .slide-inner-prevbtn > img,
.slide-inner-bottom .slide-inner-prevbtn > img {
    filter: opacity(0.5) drop-shadow(0 0 0 $gray-color);
}
.slide-inner-top .slide-inner-nextbtn {
    position: absolute;
    top: 220px;
    right: 100px;
}
.slide-inner-top .slide-list {
    display: flex;
}
.slide-inner-top .slide-list > li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 20px;
    margin: $noaml-ma;
    transition: all 300ms;
}
.slide-inner-top .slide-list > li:hover {
    transform: translateY(-30px);
}
.slide-inner-top .slide-list > li:hover > a {
    background: $red-color;
    color: $white-color;
}
.slide-inner-top .slide-list > li > img {
    margin-bottom: $noaml-ma;
}
.slide-inner-top .slide-list > li > a {
    background-color: $gray-color;
    border-radius: $border-nomal;
    width: 250px;
    padding: $noaml-pd 0;
}
/* qkxja */
.slide-inner-bottom {
    margin: 0 auto;
    margin-bottom: 120px;
}
.slide-inner-bottom > h3 {
    font-size: $head-nomal;
    letter-spacing: -1.9px;
    margin-bottom: $large-ma;
}
.slide-inner-bottom .slide-inner-prevbtn {
    position: absolute;
    top: 720px;
    left: 100px;
}
.slide-inner-bottom .slide-inner-nextbtn {
    position: absolute;
    top: 720px;
    right: 100px;
}
.slide-inner-bottom .slide-list {
    display: flex;
}
.slide-inner-bottom .slide-list > li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 20px;
    margin: $noaml-ma;
    width: 250px;
    background-color: $gray-color;
    border-radius: $border-nomal;
    height: 250px;
}
.slide-inner-bottom .slide-list > li > img {
    margin-bottom: $noaml-ma;

    padding: $noaml-pd 0;
}

@media screen and (max-width: 768px) {
    .slide-inner {
        width: 100vw;
    }
    .slide-inner-top .slide-inner-prevbtn,
    .slide-inner-bottom .slide-inner-prevbtn {
        display: none;
    }
    .slide-inner-top .slide-inner-nextbtn,
    .slide-inner-bottom .slide-inner-nextbtn {
        display: none;
    }
    .slide-inner-top .slide-list {
        flex-wrap: wrap;
    }

    .slide-inner-top .slide-list > li > img {
        width: 220px;
        height: 220px;
    }
    .slide-inner-top .slide-list > li > a {
        background: transparent;
        width: 220px;
    }
    .slide-inner-top .slide-list > li:hover {
        transform: translateY(0px);
    }
    .slide-inner-top .slide-list > li:hover > a {
        background: transparent;
        color: black;
    }

    // 바텀
    .slide-inner-bottom .slide-list {
        flex-wrap: wrap;
    }
    .slide-inner-bottom .slide-list > li {
        width: 220px;
    }
}
